@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}

#page {
    position: relative;
    top: 0in;
    left: 0in;
}

body {
    margin: 0;
}

html {
  overflow-y: scroll;
}
